.food-image {
  position: relative;
  /* width: 100%; */
  height: 38rem;
  z-index: 0;
  overflow: hidden;
}

.food-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location {
  position: absolute;
  width: 35rem;
  top: 17rem;
  left: 4rem;
}

.location h1 {
  color: white;
  font-size: 35px;
}

.input-container {
  background-color: white;
  padding: 3%;
  border-radius: 8px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  flex: 1;
  border: 1px solid #c4c2c2;
  border-color: #c4c2c2;
  height: 3rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 8px;
}

.search-button {
  cursor: pointer;
  height: 3rem;
  width: 5rem;
  border-radius: 8px;
  border: 1px solid #159019;
  background-color: #159019;
  color: white;
  font: inherit;
  font-weight: bold;

}

.search-button:hover {
  background-color: #225100;
}
