.button {
  width: auto;
  margin-right: 3rem;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #159019;
  color: white;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #225100;
}

.buttonName {
  margin: 0 5% 0 5%;
  width: 8rem;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  /* margin-right: 1rem; */
}

.badge {
  color: #2b920c;
  background-color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  color: #225100;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .buttonName {
    display: none;
  }
}
