.Navbar {
  width: 100%;
  height: 5rem;
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
}

.icon-title h1 {
  font-family: "Zen Dots", cursive;
  margin-top: 0.5rem;
}

.navbarContent {
  width: 70%;
}

.navbarButton {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarList {
  font-family: "Zen Dots", cursive;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbarList li {
  margin-right: 0.5rem;
  margin-left: 4rem;
  color: black;
  font-size: small;
  display: flex;
  flex-direction: row;
  min-width: 2rem;
  padding: 1.9rem 0 1.9rem 0;
  transition: color 0.2s, font-weight 0.1s, font-size 0.1s, border-bottom 0.1s;
}

.navbarList li:hover {
  font-size: small;
  font-weight: bold;
  color: #159019;
  border-bottom: 3px solid #159019;
}

.icon-title {
  min-width: 15rem;
  height: 8rem;
  border-radius: 0 0 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.header {
  color: #159019;
  margin-left: 5%;
}

.responsiveNavbar {
  display: none;
}

@media (max-width: 865px) {
  .Navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
    height: 0;
  }

  .icon {
    display: none;
  }

  .icon-title h1 {
    margin: 0 20rem 0 15rem;
    font-size: 2rem;
  }

  .navbarList li {
    display: none;
  }

  .responsiveNavbar {
    display: flex;
    margin-left: 4rem;
  }

  .navbarButton {
    width: 0;
    height: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .navbarContent {
    width: 0;
  }

  .imageNavbar {
    width: 2rem;
    height: 2rem;
    transition: transform 0.5s ease;
  }

  .imageAnimate {
    transform: scale(1.5);
  }

  .Navbar {
    position: relative;
  }

  .navbarSmallScreen {
    font-family: "Zen Dots", cursive;
    background-color: white;
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: -80%;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;
  }

  .show.navbarSmallScreen {
    left: 0;
    transform: translateX(0);
  }

  .navbarSmallScreen ul {
    list-style: none;
    margin: 2rem;
  }

  .navbarSmallScreen ul {
    list-style: none;
    margin: 2rem;
  }

  .navbarSmallScreen li {
    list-style: none;
    margin-bottom: 2rem;
  }

  .navbarSmallScreen li:hover {
    font-size: medium;
    font-weight: bold;
    color: #159019;
    transition: color 0.2s, font-weight 0.1s, font-size 0.1s, border-right 0.1s;
  }
}

@media (max-width: 550px) {
  .icon-title h1 {
    margin: 0 21rem 0 15rem;
    font-size: 110%;
  }
}
