.header {
  /* color: #159019; */
  margin: 4rem 0 0 4rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 4rem;
  flex: 1;
  width: 16rem;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContent h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #159019;
}

.cardContent p {
  text-align: center;
}

.summary {
  text-align: center;
  max-width: 45rem;
  width: 20%;
  margin: auto;
  margin: 2rem 3rem;
  position: relative;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 1.6rem;
  margin-top: 0;
}

/* @media screen and (max-width: 768px) {
    .cards {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  } */
